@font-face {
    font-family: Jost;
    src: url('../fonts/Jost.ttf');
}

:root {

	--bg-dark: #071931;
	--bg-darker: #061528;
	--red: #ff0000;
	--bs-white: #fff;
}

body{
	background: var(--bg-dark);
	color: var(--bs-white);
	font-family: Jost, sans-serif;
}

.header {
	margin: auto;
	width: 50%;
	text-align: center;
}

.maincontent {
	padding: 20px;
}

ion-icon {
	color: var(--bs-white);
}